.post {
    margin-bottom: 125px;
    margin-bottom: calc(80px + (125 - 80) * ((100vw - 992px) / (1920 - 992)));
    
    &__date {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        font-size: 28px;
        font-size: calc(19px + (28 - 19) * ((100vw - 992px) / (1920 - 992)));

        @media (max-width: 599px) {
            font-size: 18px;
        }

        span {
            margin-top: 40px;

            @media (max-width: 599px) {
                margin-top: 25px;
              }
        }
    }
}