body {
    margin: 0;
}

#app {
    font-family: 'Raleway', sans-serif;
    display: flex;
}

.red {
    color: $color-red
}

.content-box {
    width: calc(100vw - 300px);
    margin-left: 300px;
    
    @media (max-width: 991px) {
        width: 100vw;
        margin-left: 0;
    }
}

.content {
    margin-top: calc(40px + (120 - 40) * ((100vw - 992px) / (1920 - 992)));

    @media (max-width: 991px) {
        margin-top: 80px;
    }
}

.bold {
    font-weight: bold;
}

.fixed {
    position: fixed !important;
}

.close {
    position: absolute;
    opacity: 1;
  }
  .close:hover {
    opacity: 0.7;
  }
  .close:before, .close:after {
    position: absolute;
    content: " ";
    height: 28px;
    width: 3px;
    background-color: #000;
    top: 9px;
    left: 22px;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }